[Unit]
Description=Server Status Client
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/server-status-client/.venv/bin/python  /opt/server-status-client/main.py http://192.168.31.149:8091 lts114514 localhost run -n Kami --labels physical ubuntu --location Chongqing --link http://kslan.liteyuki.icu:53851
WorkingDirectory=/opt/server-status-client
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target